<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of items | ordenIngresoEgreso">
                            <td>{{item.description}}</td>
                            <td>{{item.quantity | currency}}</td>
                            <td>
                                <span [ngClass]="{ 'badge-success': item.type==='ingreso', 
                                'badge-danger': item.type==='egreso'}" class="badge badge-primary">{{item.type}}</span>
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteIngresoEgreso( item )">
                                    <i class="fa fa-trash"></i>
                                    Borrar
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>