<div *ngIf="loading" class="row">
    <div class="col">
        <div class="alert alert-info text-center">
            <i class="fa fa-sync fa-spin fa-2x"></i>
            <h1>Espere...</h1>
        </div>
    </div>
</div>

<div *ngIf="error" class="row">
    <div class="col">
        <div class="alert alert-danger text-center">
            <i class="fa fa-times fa-2x"></i>
            <h2>Error: {{error.status}}</h2>
            <p>
                {{error.message}}
            </p>
        </div>
    </div>
</div>

<div class="card-columns">

    <div class="card" *ngFor="let user of usuarios">
        <img class="card-img-top" [src]=" user.avatar" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{user.firstName}} {{user.lastName}} </h5>
            <p class="card-text">This is a longer card with supporting text below as a natural.</p>
            <p class="card-text">
                <span class="text-muted">
                    ID: {{ user.id }}
                </span>
            </p>
        </div>
    </div>

</div>